* {
    margin: 0;
    padding: 0;
}


/*ESTILOS GLOBALES */

body {
    font-family: 'Open Sans', sans-serif;
}

.margin-top {
    margin-top: 1.2em;
}

.btn-red {
    background-color: #ff5252;
    background-image: none;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
}

.btn-red:hover {
    background-color: #c50e29;
    color: #FFFFFF;
}

.logo {
    font-family: 'Pacifico', cursive;
    color: #ff5252;
}

.rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* CSS SEARCH BAR */
#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */

    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #D9230F;
}
.search-query:focus+button {
    z-index: 3;
}
.btn-search {
    background-color: #00000000;
}

/*color tags inactivos*/
.js-tag-red {
    background-color: #e2e2e2;
    margin: 0.2em;
    color: #000000;
}

/*color tags activos*/
.tag-red-active {
    background-color: #ffbcaf;
}

/*estilo redondo tags*/
.btn-round {
    border-radius: 17px;
    margin: 0.2em;
}

/*estilo  botones filtros*/
.btn-filter {
    font-weight: 700;
}

/*MODAL LOGIN */
.modal {
    background-color: #00000075;
}
.btn-center {
    width: 50%;
    text-align: center;
    margin: inherit;
}
.social-login-btn {
    margin: 5px;
    width: 10%;
    font-size: 250%;
    padding: 0;
    background-image: none;
}
.social-google {
    background-color: #da573b;
    border-color: #be5238;
}
.social-google:hover {
    background-color: #be5238;
    border-color: #9b4631;
}
.social-twitter {
    background-color: #1daee3;
    border-color: #3997ba;
}
.social-twitter:hover {
    background-color: #3997ba;
    border-color: #347b95;
}
.social-facebook {
    background-color: #4c699e;
    border-color: #47618d;
}
.social-facebook:hover {
    background-color: #47618d;
    border-color: #3c5173;
}
.social-linkedin {
    background-color: #4875B4;
    border-color: #466b99;
}
.social-linkedin:hover {
    background-color: #466b99;
    border-color: #3b5a7c;
}

/*MODAL SIGN UP*/
.btn-input {
    background-color: #00000000;
    color: #c50e29;
    border: none;
}