/*
Resetear el navegador
*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
}


/*CSS para formato resultado de peliculas */


.m-L-R {
    padding: 5% 5%;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 5%;
}

.m-1 {
    margin: 5%;
}

.js-cardMovie {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.shadow {
    box-shadow: 0px 0px 8px 0px rgba(160, 154, 154, 0.89);
    -moz-box-shadow: 0px 0px 8px 0px rgba(160, 154, 154, 0.89);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(160, 154, 154, 0.89);
    border-radius: 10px;
    border: 0.5px solid #868686;
}

.js-img-movie img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 20em;
    height: 20em;
}

.btn-saveM {
    background-color: #00000000;
    border: none;
    font-size: 1.5em;
    color: #868686;
}

.js-titleMovie {
    font-weight: 700;
}

.js-year {
    font-weight: 800;
    font-size: 0.9em;
}

.js-stars .glyphicon-star {
    color: #ff0000;
    text-shadow: 0px 0px 10px #ff0000, -1px -1px #ff0000;
}

.btn-saveM:hover {
    color: #ff5252;
}

.btn-saveM-active {
    color: #ff0000;
}


/* CSS MODAL DE PRUEBA PARA BUSQUEDAS SE PUEDE BORRAR*/

#logo {
    height: 50px;
    width: 100px;
}

.logo1 {
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    margin-top: 11px;
}

.botonlog {
    margin-top: -7px;
}

.carousel {
    height: 80vh;
    width: 100%;
}

.caja-1 {
    height: 90vh;
    width: 100%;
    background-color: blue;
}

.titulo1 {
    margin-left: 90px;
}

.imagen {
    height: 80vh;
}


/* Search bar */

#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #D9230F;
}

.search-query:focus+button {
    z-index: 3;
}

.btn-search {
    background-color: #00000000;
}

.btn-red {
    background-color: #ff5252;
    background-image: none;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
}

.btn-red:hover {
    background-color: #c50e29;
    color: #FFFFFF;
}


/*btn tags search modal */

.inactive {
    background-color: #ffbcaf;
    border-radius: 10px;
    border: none;
}

.badgeTag {
    background-color: #FFF;
    color: #ff5252;
}


/*color tags inactivos*/

.js-tag-red {
    background-color: #e2e2e2;
    margin: 0.2em;
    color: #000000;
}


/*color tags activos*/

.tag-red-active {
    background-color: #ffbcaf;
}

.btn-round {
    border-radius: 17px;
    margin: 0.2em;
}

.btn-filter {
    /*border-radius: 5px;*/
    font-weight: 700;
}

.margin-top {
    margin-top: 1.2em;
}

.modal {
  position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: auto;
}
/*SELECTOR*/
/* font-face */
@import url(https://fonts.googleapis.com/css?family=Roboto);
/* variables */
/* default style */
body {
  background-color: #fff;
  color: #333;
  font-family: "Roboto", arial, sans-serif;
  font-size: 16px;
}
/* common style */
* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
* {
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
/* */
.container {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}
.selected-item {
  margin: 20px 0;
}
/* custom select style */
.cusSelBlock {
  height: 50px;
  min-width: 250px;
}
#cusSelectbox {
  height: 100%;
  width: 100%;
}
.s-hidden {
  visibility: hidden;
}
.cusSelBlock {
  display: inline-block;
  position: relative;
  -webkit-perspective: 800px;
  perspective: 800px;
}
.selectLabel {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #333;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #333;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  letter-spacing: 2px;
  line-height: 50px;
  padding: 0 50px 0 20px;
  text-align: left;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectLabel:after {
  content: '\25BC';
  border-left: 1px solid #333;
  color: #333;
  font-size: 12px;
  line-height: 17px;
  padding: 10px;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 15%;
  height: 70%;
  width: 50px;
}
.selectLabel:active {
  -webkit-transform: rotateX(30deg);
  transform: rotateX(30deg);
}
.selectLabel:active:after {
  content: '\25B2';
}
.selectLabel.active:after {
  content: '\25B2';
}
::-webkit-scrollbar {
  display: none;
}
.options {
  position: absolute;
  top: 50px;
  height: 1px;
  width: 100%;
}
.options li {
  background-color: #ffffff;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  cursor: pointer;
  display: block;
  line-height: 50px;
  list-style: none;
  opacity: 1;
  padding: 0 50px 0 20px;
  text-align: left;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 0;
  height: 50px;
  width: 100%;
}
.options li:hover,
.options li.active {
  background-color: #333;
  color: #fff;
}
.options li:nth-child(1) {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  z-index: 6;
}
.options li:nth-child(2) {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  z-index: 5;
}
.options li:nth-child(3) {
  z-index: 4;
}
.options li:nth-child(4) {
  z-index: 3;
}
.options li:nth-child(5) {
  z-index: 2;
}
.options li:nth-child(6) {
  z-index: 1;
}
/**/
.feaBlock {
  margin: 20px 0;
  text-align: left;
}
.btn-default{
  width: 100%;
  margin-top: -28px;
}


.foot{
  height: 15vh;
  width: 100%;
  background-color:#48C0D3;
}
.linea{
  font-size: 20px;
  margin-left: 40px
}
.tabla1{
  margin-left: 190px;
}

.fa-facebook-square:before{
  font-size: 35px;
  color:#fff;
}
.fa-twitter-square:before{
  font-size: 35px;
  color:#fff;
}
.fa-google-plus-square:before{
  font-size: 35px;
  color:#fff;
}
.fa-share-alt-square:before{
  font-size: 35px;
  color:#fff;
}
.tabla2{
  margin-left: 190px;
}
.parrafo{
  font-size: 20px;
  color:#fff;
  margin-left: 190px;
}
.form-control{
     width: 100%;
}
.logo {
  font-family: 'Pacifico', cursive;
  color: #ff5252;
  font-size: 25px;
}
.btn-danger{
  margin-top: 16px;
  margin-left: -16px;
}
.btn-red{
  margin: 0;
  padding:0;
}



/*estilo modales*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#logo {
    height: 50px;
    width: 100px;
}

.botonlog {
    margin-top: -7px;
}

.btn-default {}

.carousel {
    height: 80vh;
    width: 100%;
}

.caja-1 {
    height: 90vh;
    width: 100%;
    background-color: blue;
}

.titulo1 {
    margin-left: 90px;
}

.imagen {
    height: 80vh;
}


/* Search bar */

#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #D9230F;
}

.search-query:focus+button {
    z-index: 3;
}

.btn-search {
    background-color: #00000000;
}

.btn-red {
    background-color: #ff5252;
    background-image: none;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
}

.btn-red:hover {
    background-color: #c50e29;
    color: #FFFFFF;
}


/*btn tags search modal */


/* Hiding the checkbox, but allowing it to be focused */

.badgebox {
    opacity: 0;
}

.badgebox+.badge {
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 27px;
}

.badgebox:focus+.badge {
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked+.badge {
    /* Move the check mark back when checked */
    text-indent: 0;
}

.inactive {
    background-color: #ffbcaf;
    border-radius: 10px;
    border: none;
}

.badgeTag {
    background-color: #FFF;
    color: #ff5252;
}


/*color tags inactivos*/

.js-tag-red {
    background-color: #e2e2e2;
    margin: 0.2em;
    color: #000000;
}


/*color tags activos*/

.tag-red-active {
    background-color: #ffbcaf;
}

.btn-round {
    border-radius: 17px;
    margin: 0.2em;
}

.btn-filter {
    /*border-radius: 5px;*/
    font-weight: 700;
}

.margin-top {
    margin-top: 1.2em;
}


/*modal login */

.modal {
    background-color: #00000075;
}

.btn-center {
    width: 50%;
    text-align: center;
    margin: inherit;
}

.social-login-btn {
    margin: 5px;
    width: 10%;
    font-size: 250%;
    padding: 0;
    background-image: none;
}

.social-google {
    background-color: #da573b;
    border-color: #be5238;
}

.social-google:hover {
    background-color: #be5238;
    border-color: #9b4631;
}

.social-twitter {
    background-color: #1daee3;
    border-color: #3997ba;
}

.social-twitter:hover {
    background-color: #3997ba;
    border-color: #347b95;
}

.social-facebook {
    background-color: #4c699e;
    border-color: #47618d;
}

.social-facebook:hover {
    background-color: #47618d;
    border-color: #3c5173;
}

.social-linkedin {
    background-color: #4875B4;
    border-color: #466b99;
}

.social-linkedin:hover {
    background-color: #466b99;
    border-color: #3b5a7c;
}


.margin-0-L-R{

}

/*MSFORM*/

html {
    height: 100vh;

    d/*Image only BG fallback*/
    /*background = gradient + image pattern combo*/
}

.bkr-html {
    background-image: url("../img/hubble.jpg");
}

body {
    font-family: 'Open Sans', sans-serif;
    background: rgba(255, 255, 255, 0);
}

.m-top {
    margin-top: 1.2em;
}

.m-bottom {
    margin-bottom: 1em;
}

.btn-red {
    background-color: #ff5252;
    background-image: none;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
}

.btn-red:hover {
    background-color: #c50e29;
    color: #FFFFFF;
}

.logo {
    font-family: 'Pacifico', cursive;
    color: #ff5252;
}


/*form styles*/

#msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}


/*inputs*/

#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus,
#msform textarea:focus {
    outline: 0px;
}


/*buttons*/

#msform .action-button {
    width: 100%;
    background: #ff5252;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #c50e29;
    color: #FFFFFF;
    outline: 0px;
    /*box-shadow: 0 0 0 2px white, 0 0 0 3px #ff5252;*/
}

.btn-lg {
    width: 100%;
}

.btn-md {
    width: 50%;
}


/*headings*/

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: rgb(124, 123, 123);
    margin-bottom: 20px;
}


/*progressbar*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    border-radius: 10px;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 90%;
    line-height: 30px;
    display: block;
    font-size: 1.5em;
    color: #333;
    background: white;
    border-radius: 5px;
    margin: 0 auto 5px auto;
}


/*The number of the step and the connector*/

#progressbar li.active:before,
#progressbar li.active:after {
    background: #ffbcaf;
    color: rgb(32, 32, 32);
}

.success-img {
    width: 50%;
}



/*Clases a llamar con js guardar y seguir*/

.saveBtn {
  color: rgb(74, 57, 205);
}

.heartBtn {
  color: rgb(135, 5, 5);
}
