* {
    padding: 0;
    margin: 0;
}

.contenedor {
    height: 100vh;
    width: 100%;
    background-color: red;
}

.usuario {
    background-color: blue;
    height: 332px;
}

.circle {
    height: 131px;
    width: 174px;
}

.caja1 {
    height: 332px;
    background-color: yellow;
    width: 75%;
}

.caja2 {
    height: 332px;
    background-color: green;
    width: 75%;
}

.caja3 {
    height: 332px;
    background-color: purple;
    width: 75%;
}