* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    background-image: none;
    background-color: #1d1e22;
}


/*CSS para formato resultado de peliculas */

.m-L-R {
    padding: 5% 5%;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 5%;
}

.m-1 {
    margin: 5%;
}

.js-cardMovie {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.shadow {
    box-shadow: 0px 0px 8px 0px rgba(160, 154, 154, 0.89);
    -moz-box-shadow: 0px 0px 8px 0px rgba(160, 154, 154, 0.89);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(160, 154, 154, 0.89);
    border-radius: 10px;
    border: 0.5px solid #868686;
}

.js-img-movie img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-saveM {
    background-color: #00000000;
    border: none;
    font-size: 1.5em;
    color: #868686;
}

.js-titleMovie {
    font-weight: 700;
}

.js-year {
    font-weight: 800;
    font-size: 0.9em;
}

.js-stars .glyphicon-star {
    color: #ff0000;
    text-shadow: 0px 0px 10px #ff0000, -1px -1px #ff0000;
}

.btn-saveM:hover {
    color: #ff5252;
}

.btn-saveM-active {
    color: #ff0000;
}


/* CSS MODAL DE PRUEBA PARA BUSQUEDAS SE PUEDE BORRAR*/

#logo {
    height: 2em;
    width: 100px;
}

.logo1 {
    font-size: 35px;
    margin-top: 11px;
}

.imagen {
    height: 80vh;
}


/* Search bar */

#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #D9230F;
}

.search-query:focus+button {
    z-index: 3;
}

.btn-search {
    background-color: #00000000;
}

.btn-red {
    background-color: #f77575;
    background-image: none;
    border: none;
    color: #FFFFFF;
}

.btn-red:hover {
    background-color: #ca0725;
    color: #FFFFFF;
}


/*btn tags search modal */

.inactive {
    background-color: #ffbcaf;
    border-radius: 10px;
    border: none;
}

.badgeTag {
    background-color: #FFF;
    color: #ff5252;
}

.btn-bar {
    padding: 0;
    border-radius: 3px;
}

.btn-bar:active {
    padding: 0;
    border-radius: 3px;
}

.btn-bar:hover {
    padding: 0;
    border-radius: 3px;
}


/*color tags inactivos*/

.js-tag-red {
    background-color: #e2e2e2;
    margin: 0.2em;
    color: #000000;
}


/*color tags activos*/

.tag-red-active {
    background-color: #ffbcaf;
}

.btn-round {
    border-radius: 17px;
    margin: 0.2em;
}

.btn-filter {
    /*border-radius: 5px;*/
    font-weight: 700;
}

.margin-top {
    margin-top: 1.2em;
}

.filtersbar {
    margin-bottom: 5%;
}

.filter-title {
    font-weight: 700;
}

.red img {
    width: 2%;
    color: #ff5252 !important;
    font-size: 0.5em;
}

.img-small img {
    width: 1em;
    height: 2em;
}

.img-small {
    width: 1em;
    height: 2em;
}

.img-small a {
    width: 1em;
    height: 2em;
}

.btn {
    border-radius: 0;
}