body {
    background-color: rgb(201, 201, 201);
}

.movieProfile {
    margin: 5%;
}

.m-t-1 {
    margin-top: 5%;
}

.p-reset {
    padding-left: 0;
    padding-right: 0;
}

.m-reset {
    margin-left: 0;
    margin-right: 0;
}

.videos,
.whiteBox {
    padding: 5%;
    background-color: #d3d3d3;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

.imgMovie img {
    width: 20%;
    border-radius: 5px;
}

.avatar {
    width: 30%;
    padding: 0.5em;
}

.bold {
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    border-bottom: 1px solid #919191;
}

.infoContact {
    width: 95%;
}

.avatar,
.infoContact {
    display: inline;
}

.btn-contacts {
    width: 100%;
    margin-top: 1em;
    background-color: #ff7575;
    color: #fff;
}

.btn-icon,
button .btn-icon {
    color: #eb4c4c;
    background-color: #ff757500;
    border: none;
    width: 1em;
}

#listContacts {
    list-style: none;
    padding-left: 0;
}

#listContacts ul {
    padding-left: 0;
}

.contact li {
    list-style: none;
}

.name {
    font-size: 1em;
    font-weight: 700;
}

.porcent {
    font-size: 0.9em;
    color: #882222;
    font-weight: 800;
}

.contenedor {
    height: 200vh;
    width: 100%;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: red;
}

.usuario {
    background-color: blue;
    height: 332px;
    border: 1px solid black;
    margin-right: 35px;
}

.circle {
    height: 200px;
    width: 250px;
    margin-top: 30px;
    margin-left: 27px;
}

#name {
    margin-left: 50px;
}

.caja1 {
    height: 332px;
    background-color: yellow;
    width: 70%;
    margin-bottom: 20px;
}

.caja2 {
    height: 332px;
    background-color: green;
    width: 70%;
    margin-bottom: 20px;
    margin-left: 28%;
}

.caja3 {
    height: 332px;
    background-color: purple;
    width: 70%;
    margin-bottom: 20px;
    margin-left: 28%;
}

.shadow {
    -webkit-box-shadow: 2px 1px 15px 0px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 2px 1px 15px 0px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 1px 15px 0px rgba(0, 0, 0, 0.63);
    border-radius: 5px;
}

.btn-rounded {
    border-radius: 15px;
    background-color: rgb(219, 219, 219);
    display: inline-block;
    padding: 0.5em;
}

#nameList {
    font-weight: 700;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #919191;
}

.js-saveMovie,
.js-likeMovie {
    margin-right: 1.8em;
    font-size: 1.7em;
}

.media-left img {
    width: 10vh;
}

.nav .nav-pills {
    color:#eb4c4c;
}